body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container {
    padding: 20px;
}
.recommendation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.drink-details {
    flex-basis: 50%;
}

.drink-image {
    flex-basis: 50%;
    text-align: center;
}

.drink-image img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.nav-buttons button{
    padding: 10px 20px;
    Border:none;
    background-color: #007bff;
    color: white;
    Border-radius: 30px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10vw;
        margin-right: 10vw;

}

.action-buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    width: 150px; /* or more, based on your design */
    height: 35px;
    margin: 0 15px; /* Gives 30px total spacing between two buttons */
    /* Other styles */
}
#closeButton{
    background: darkgrey;
}


button:active {
    transform: translateY(+3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #2338D9;
}

